<form action="/gateway" method="post"> 
	<fieldset> 
		<label for="Trigger">Trigger Word</label> 

		<input type="text" name="trigger_word"> 
		<label for="action">Action</label> 

		<input type="text" name="text"> 
		<label for="query">Query</label> 

		<input type="text" name="query"> 

		<input type="submit" value="Send" class="button"> 
	</fieldset>
</form>