<form action="/pokedex" method="post"> 
	<fieldset> 
		<label for="Name">Name:</label> 
		<input type="text" name="pokemon[name]"> 
		<input type="submit" value="send" class=""> 
	</fieldset>
</form>



<form action="/pokedex" method="post"> 
	<fieldset> 
		<label for="Type">Type:</label> 
		<input type="text" name="pokemon[type]"> 
		<input type="submit" value="send" class=""> 
	</fieldset>
</form>